<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ResidentLoginServlet</servlet-name>
        <servlet-class>servlet.ResidentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentRegisterServlet</servlet-name>
        <servlet-class>servlet.ResidentRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentLogoutServlet</servlet-name>
        <servlet-class>servlet.ResidentLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFamilyServlet</servlet-name>
        <servlet-class>servlet.CreateFamilyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinFamilyServlet</servlet-name>
        <servlet-class>servlet.JoinFamilyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setHouseAddressServlet</servlet-name>
        <servlet-class>servlet.setHouseAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetHome</servlet-name>
        <servlet-class>servlet.SetHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setHome</servlet-name>
        <servlet-class>servlet.setHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentResetPasswordServlet</servlet-name>
        <servlet-class>servlet.ResidentResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentAddCarServlet</servlet-name>
        <servlet-class>servlet.ResidentAddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentCarRemoveServlet</servlet-name>
        <servlet-class>servlet.ResidentCarRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentAddHouseServlet</servlet-name>
        <servlet-class>servlet.ResidentAddHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResidentAddVisitorServlet</servlet-name>
        <servlet-class>servlet.ResidentAddVisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>servlet.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRemoveCommitteeServlet</servlet-name>
        <servlet-class>servlet.AdminRemoveCommitteeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRemoveGuardServlet</servlet-name>
        <servlet-class>servlet.AdminRemoveGuardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCommitteeServlet</servlet-name>
        <servlet-class>servlet.AdminAddCommitteeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddGuardServlet</servlet-name>
        <servlet-class>servlet.AdminAddGuardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateCommitteeServlet</servlet-name>
        <servlet-class>servlet.AdminUpdateCommitteeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateGuardServlet</servlet-name>
        <servlet-class>servlet.AdminUpdateGuardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardLoginServlet</servlet-name>
        <servlet-class>servlet.GuardLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitteeLoginServlet</servlet-name>
        <servlet-class>servlet.CommitteeLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitteeLogoutServlet</servlet-name>
        <servlet-class>servlet.CommitteeLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardLogoutServlet</servlet-name>
        <servlet-class>servlet.GuardLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitteeApproveResidentServlet</servlet-name>
        <servlet-class>servlet.CommitteeApproveResidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitteeRevokeResidentServlet</servlet-name>
        <servlet-class>servlet.CommitteeRevokeResidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardVisitorEnteredServlet</servlet-name>
        <servlet-class>servlet.GuardVisitorEnteredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardVisitorExitedServlet</servlet-name>
        <servlet-class>servlet.GuardVisitorExitedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardAddVisitorServlet</servlet-name>
        <servlet-class>servlet.GuardAddVisitorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResidentLoginServlet</servlet-name>
        <url-pattern>/ResidentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentRegisterServlet</servlet-name>
        <url-pattern>/ResidentRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentLogoutServlet</servlet-name>
        <url-pattern>/ResidentLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFamilyServlet</servlet-name>
        <url-pattern>/CreateFamilyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinFamilyServlet</servlet-name>
        <url-pattern>/JoinFamilyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setHouseAddressServlet</servlet-name>
        <url-pattern>/setHouseAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetHome</servlet-name>
        <url-pattern>/SetHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setHome</servlet-name>
        <url-pattern>/setHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentResetPasswordServlet</servlet-name>
        <url-pattern>/ResidentResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentAddCarServlet</servlet-name>
        <url-pattern>/ResidentAddCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentCarRemoveServlet</servlet-name>
        <url-pattern>/ResidentCarRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentAddHouseServlet</servlet-name>
        <url-pattern>/ResidentAddHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResidentAddVisitorServlet</servlet-name>
        <url-pattern>/ResidentAddVisitorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRemoveCommitteeServlet</servlet-name>
        <url-pattern>/AdminRemoveCommitteeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRemoveGuardServlet</servlet-name>
        <url-pattern>/AdminRemoveGuardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCommitteeServlet</servlet-name>
        <url-pattern>/AdminAddCommitteeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddGuardServlet</servlet-name>
        <url-pattern>/AdminAddGuardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateCommitteeServlet</servlet-name>
        <url-pattern>/AdminUpdateCommitteeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateGuardServlet</servlet-name>
        <url-pattern>/AdminUpdateGuardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardLoginServlet</servlet-name>
        <url-pattern>/GuardLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitteeLoginServlet</servlet-name>
        <url-pattern>/CommitteeLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitteeLogoutServlet</servlet-name>
        <url-pattern>/CommitteeLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardLogoutServlet</servlet-name>
        <url-pattern>/GuardLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitteeApproveResidentServlet</servlet-name>
        <url-pattern>/CommitteeApproveResidentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitteeRevokeResidentServlet</servlet-name>
        <url-pattern>/CommitteeRevokeResidentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardVisitorEnteredServlet</servlet-name>
        <url-pattern>/GuardVisitorEnteredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardVisitorExitedServlet</servlet-name>
        <url-pattern>/GuardVisitorExitedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardAddVisitorServlet</servlet-name>
        <url-pattern>/GuardAddVisitorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- <dependency>
        <groupId>com.google.zxing</groupId>
        <artifactId>javase</artifactId>
        <version>3.4.0</version>
    </dependency>
    <dependency>
        <groupId>com.google.zxing</groupId>
        <artifactId>javase</artifactId>
        <version>3.4.0</version>
    </dependency>-->
</web-app>
